*{
    margin: 0;
    padding: 0;
}

.top{
    background-image: url('Marketing_LandingFeatured_Redesign.webp');
    height: 800px;
    width: 100%;
}


.navbar{
    height:25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    
}

.logo{
    height:20px;
    width:165px;
    background-size: cover;
}

.logo img{
    height:100%;
    width: 100%;
    cursor: pointer;
}

.nav-elements a {
    text-decoration: none;
    color:#ffffff;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 25px;
}

.nav-elements1 a {
    text-decoration: none;
    color:#ffffff;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 25px;
}

.nav-elements1 i{
    color: #ffffff;
    margin-left: 25px;
    cursor: pointer;
}

.content{
    height:800px;
    width:620px;
    margin:90px 430px;
    padding:0px 20px;
    position: relative;
}

.content h2,p{
    color: white;
}

.content h2{
    font-size:50px;
    font-family:Arial, Verdana, sans-serif;
    margin-bottom: 3rem;
    padding-left: 3rem;
}

.content p{
    font-size:16px;
    font-family:Arial, Verdana, sans-serif;
}

.search-bar{
    width:416px;
    height:49px;
    background:rgba(184, 184, 184,0.3);
    border-radius:5px;
    font-family: Arial, Verdana,sans-serif;
    font-size: 12px;
    border: 2px solid white;
    ;
}
 .content button{
    height: 55px;
    width: 178px;
    border-radius: 4px;
    margin-left: 0.8rem;
    cursor: pointer;
}

 .search-element{
    position: absolute;
    bottom: 17rem;
    
}

.content1{
    position: absolute;
    bottom: 13rem;
}

.content1 h3{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12rem;
    margin-bottom: 2px;
}

.content1 p{
    padding-left: 5rem;
}

/* --------------------------------page2------------------------- */

.page2{
    height:749px;
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: row; 
}

.page2-img{
    background-image: url('Marketing_LandingStreaming_Redesign.webp');
    height: 749px;
    width: 759px;
    background-size: cover;

}

.page2-content h2{
    color: white;
    font-size: 50px;
    font-family:Arial, Verdana, sans-serif ;
    
}
.page2-contentf {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6rem;;

}

.page2-content1{
    margin-top: 3rem;
}

.page2-content1 #p2{
    margin-top: 2rem;;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}

.page2-content1 #p1{
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}


/* ---------------------------page3------------------------- */

.page3{
    height:749.6px;
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: row; 
}

.page3-img{
    background-image: url('Marketing_LandingPlugin.jpg');
    height: 749px;
    width: 759px;
    background-size: cover;
}


.page3-content h2{
    color: white;
    font-size: 50px;
    font-family:Arial, Verdana, sans-serif ;
    margin-left:6rem;
}

.page3-contentf{
    height: 749px;
    width: 759px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page3-content1 #p1{
    margin-left: 6rem;
    margin-top: 3rem;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}


.page3-content1 #p2{
    margin-left:6rem;
    margin-top: 3rem;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}

.page3-content1 #p2 a{
    color:#ffffff;
    font-weight: 600;
}

/* .---------------------page4-------------------------- */

.page4{
    height:749px;
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: row; 
}


.page4-img{
    background-image: url('Marketing_LandingHighspeed.jpg');
    height: 749px;
    width: 759px;
    background-size: cover;

}

.page4-content h2{
    color: #ffffff;
    font-size: 50px;
    font-family: Arial,Verdana,sans-serif;
    font-weight: 600;
}

.page4-contentf{
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.page4-content1 #p1{
    margin-top: 3rem;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}

.page4-content1 #p2{
    margin-top: 2rem;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}

.page4-content1 #p3{
    margin-top: 2rem;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}









/* -----------------page5---------------------- */

.page5{
    height: 750px;
    width: 100%;
    background-color: #272626;
   
}


.page5-content h2{
    height: 50px;
    font-size: 45px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 6rem; 
    font-family: Arial,Verdana,sans-serif; 
     
}

.page5-contentf{
    height:500px;
    display: flex;
    margin-top: 5rem;;
    font-size: 28px;
    text-align: center;
}


.page5-contentb1{
    height: 300px;
    width: 365px;
    margin-left: 5rem;
} 


.page5-contentb2{
    height: 400px;
    width: 365px;
    margin-left: 6rem;
}

.page5-contentb3{
    height: 300px;
    width: 365px;
    margin-left: 9rem;
}

.page5-content1 #p2{
    padding-top: 3rem;
}

.page5-content2 #p4{
    padding-top: 3rem;
}

.page5-content3 #p6{
    padding-top: 3rem;
}


/*--------------------Footer-------------------*/

footer{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copywrite{
    display : flex;
    justify-content: space-between;
    width:100%;
}

span{
    color: #757575;
    font-size: 12px;
}

.footer-content1 p{
    color: #757575;
    font-size: 12px;
}

.footer-content a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 2rem;
    size: 12px;
    
}

.footer-content1 p a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}